/**------------------------------------------------------------------------
 * ?                Hoja de estilo de Porra.html
 * @autor          :  Cristian Rodríguez Hidalgo    
 * @email          :  crh161205@gmail.com
 * @version        :  1.0
 * @Fecha          :  Octubre de 2023
 * @descripcion    :  Trabajo de lenguaje de marcas
 *------------------------------------------------------------------------**/


@font-face {
    font-family:Poppins, sans-serif ;
    font-size: 16px;
    src: url();
}



body {
    font-family: Poppins, sans-serif;
    font-size: 16px ;
    background-color: rgb(235,85,4);
    margin: 0;
    padding: 0; /* Para que el wrapper se pegue a body */

}

h1 {
    font-family: Abril Fatface, serif;
    font-size: 46px;

}

#wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(235,85,4);
    color: rgb(140,248,252);
    
    

}
#title{


}
